CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=16384
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_ESP_IPC_TASK_STACK_SIZE=4096
CONFIG_ESP_MINIMAL_SHARED_STACK_SIZE=4096

CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
# CONFIG_LOG_COLORS is not set

CONFIG_LWIP_LOCAL_HOSTNAME="luatos_esp32"
# CONFIG_LWIP_TIMERS_ONDEMAND is not set

CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_MBEDTLS_CERTIFICATE_BUNDLE is not set

CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="V0001"

CONFIG_NEWLIB_NANO_FORMAT=y
